@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
}

.card {
  @apply flex flex-col gap-2.5;
}
.card-text {
  @apply font-semibold text-[12px];
}
.features-cards {
  @apply gap-2 flex flex-col;
}
.features-cards-title {
  @apply font-semibold text-[15px];
}
.features-cards-description {
  @apply font-medium text-[12px];
}
